body{
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
}
h1{
    color:red;
    font-family: 8em;
    font-size: 60px;
    display: block;
}
.main{
    height:550px;
    width:400px;
    background-color: rgb(0,0,0,0.9);
    margin:auto;
    border-radius: 3% 3% 3% 3%;
}
h2{
    color:white;
    margin-left: 45px;
    padding-top: 40px;
    font-family: 'Times New Roman';
    font-size: xx-large;
}
.mail{
    margin-left: 45px;
    padding-top: 5px;
    width:300px;
    height:40px;
    background-color: rgb(0,0,0,0.1);
    font-size: 16px;
    color:white;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.605);

}
.pass{
    margin-left: 45px;
    padding-top: 5px;
    width:300px;
    height:40px;
    background-color: rgb(0,0,0,0.1);
    margin-right: 50px;
    font-size: 16px;
    color:white;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.605);
}
#btn{
    background: red;
    color:white;
    width:305px;
    margin-left: 45px;
    font-size: larger;
    height:40px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.605);
}
h4{
    margin-top: 10px;
    color:grey;
    font-size:larger;
    text-align: center;
}
#btn1:hover{
    background: rgb(255, 255, 255, 0.4);
    }
#btn:hover{
    background: rgb(255, 29, 29,0.4);
}
#btn1{
    color: white;
    background: grey;
    margin-left: 45px;
    width:305px;
    height:40px;
    font-size: larger;
    text-align: center;
    margin-top: -30px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.605);
}
h3{
    color:grey;
    font-size: medium;
    text-align: center;
}
h3:hover{
    text-decoration: underline;
}
.box{
    color:grey;
    font-size: medium;
    margin-left: 45px;
    margin-top: -20px;
}
p{
    margin-left: 45px;
    font-size: medium;
    color:grey;
    margin-top: -5px;
}
.m1{
    color: white;
}
.m1{
    color: white;
}
.m1:hover{
    text-decoration: underline;
}
.learn{
    color: blue;
}
.learn:hover{
    text-decoration: underline;
}
